<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
<h1 style="color:cyan;font-size:50px;padding-left:3%;"> About Kerala Tourism</h1>
<p style="font-size:20px"><span>
    <img src="https://www.keralatourism.org/images/kalari/kalaripayattu.jpg" height="400px" width="450px">
    <img src="https://www.keralatourism.org/images/right-panel/pg-3.jpg" height="400px" width="420px">
    <img src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcQqA95KDfksGi4A4N7YuWm4zE8QpXKBlP5m1CBf94UgLZ5udgPepdopb3QFF9VLdbSHxH7I77SbUyF61GNoi85IMQ" height="400px" width="400px"></span> <br>
    The Department of Tourism is a major government ministry under the Kerala Government that regulates and supervises tourism in Kerala. Kerala Tourism is the fastest growing state tourism department in the country and the ministry has been often adjudged as key department that aggressively worked on to make Kerala Tourism into Top 100 Superbrands.</p>
<p style="font-size:20px">Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife. National parks like Eravikulam and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers</p>
<h3 style="color:blue;font-size:35px;">Most beautiful Place,Munnar</h3><br>
    <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN_RNJv_KRoHLKSZPtHfiK4TlwCr6b2fHdMEkdii7UOQ&s" width="400px" height="400px">
          <img src="https://www.keralatourism.org/images/destination/large/munnar20131031131946_202_2.jpg" height="400px" width="420px">
        <img src="https://www.keralatourism.org/images/destination/large/munnar20131111113428_202_1.jpg" height="400px" width="420px">
    </span><br> <p style="font-size:20px">   Munnar is considered one of the most beautiful tourist places in Kerala. Situated on the Western Ghats, Munnar is evidently one of the highest producers of tea on the Indian subcontinent. The view of undulating hills as the touch the clouds in Munnar rejuvenates your mind and soul</p>
<p style="padding-left:3%;color:indigo; font-size:25px">42 Places to visit in Kerala | Tourist places in Kerala.</p>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQwTv4ERAC3Nk7zQSEptQr0DraG473Cqwk6QdjIFrKNDRFgAwbuVocsV_tckSqUsSaWjcU5oCeGylpXyOEaUcszTA" height="400px" width="410px">
<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ_OzPBaE50EBFcAi9Mhe-vMBhHvKaQs74Cr2_EitbUyKzMcPorKFWeJ_oHmpqZNFX50sIHOdxtHaOz2V3QBxXxvw" height="400px" width="420px">
<img src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQKfs0-w_nf5ISPgh4PAqDZREYaClYhyR7N79m-AzkxMafYPN4_21Jju7QI-tIa9bv8WqSyqyxaUF-svQ9PEK6uZg" height="400px" width="430px">
</body>
</html>