<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W3Schools</title>
</head>
<body>
<h1>Hello World!</h1> <br>
<h2>About W3Schools</h2><br>
<p>We create simplified and interactive learning experiences. Learning web development should be easy to understand and available for everyone, everywhere!<br>
W3Schools is a school for web developers, covering all the aspects of web development: HTML Tutorial. CSS Tutorial. JavaScript Tutorial.<br>
It is run by Refsnes Data in Norway. It has an online text editor called TryIt Editor, and readers can edit examples and run the code in a test environment.
</p>
</body>
</html>