<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1 style="color:black;font-size:50px;padding-left:30%;"> KERALA TOURISM</h1>
<span><img src="http://www.keralatourism.gov.in/new-style/images/sub-banner.jpg" width="400px" height="400px">
 <img src="https://www.keralatourism.org/images/destination/large/kovalam20131031105847_236_1.jpg" height="400px" width="440px">
 <img src="https://www.keralatourism.org/images/destination/large/kovalam20131105170347_236_1.jpg" height="400px" width="440px">
<img src="http://www.keralatourism.gov.in/new-style/images/bottom-banner.jpg" width="1400px" height="600px"></span>
<p style="font-size:20px">In a big endorsement of the state’s well-crafted strategies and initiatives to retain its standing as the country’s premier tourism destination overcoming the downturn triggered by the floods and COVID-19 pandemic, Kerala received the India Today Award for the best-performing state in the field of tourism. Grabbing 90.5 points, Kerala got the award for its activities in post-COVID tourism.

India Today's selection is based on the projects initiated by the Kerala government, including Caravan Tourism. It was also assessed that Kerala has been able to make progress in the tourism sector by developing innovative projects. The novel initiatives announced by the Department of Tourism like the Literary Circuit and Biodiversity Circuit were labelled as good measures.

The Tourism Minister Mr P. A. Mohamed Riyas said the India Today Award is a proud achievement for Kerala Tourism and such awards will inspire the tourism sector to come up with new projects in order to attract tourists.</p>

<p style="font-size:20px">Government of Kerala trended to ignore its tourism potential completely until the late 1980s, despite the strong marketing efforts done by leading private tour agencies. This even forced WTTC, often referring Kerala as a late-comer to the tourism sector.

The potentiality of tourism was first identified during last days of Travancore Monarchy. It was 1st Prince Col. Goda Varma Raja (Husband of H.H Queen of Travancore, Karthika Thirunal), while spending his honeymoon holidays at Kovalam's Halcyon Castle, discovered the immense possibility of exploring the kingdom's tourism opportunities. As 1st Prince, he was in-charge of receiving state guests and often several visiting dignitaries used to praise the natural beauty, which made him realize to seriously concentrate in developing the industry. However his idea received a cold response at Royal Court, forcing him to start his own venture to popularize key tourist destinations. The attitude of ignoring tourism continued even after Independence, leaving the sector purely driven by few private ventures and hotel chains.

During the 1960s Kovalam soon rose into international fame, as one of the major centers of hippie culture in India, which started massive influx of foreign tourists, bringing large amount of much needed foreign exchange. It was at this point of Kerala Government, slowly started realizing the importance of tourism.

Hailed as one of the first policy that underlines the importance of Public-Private Partnership, the policy helped Kerala to fuel its strong growth in Tourism sector.</p>
</body>
</html>